* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


body {

    font-family: Arial;  /* var(--default-font);**/

    margin: 10mm;
    padding: 0;


}


.page-break {
    page-break-before: always;
}