* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


body {

    font-family: Verdana, sans-serif;
    font-size: 8pt;
    margin: 10mm;
    padding: 0;
    -webkit-print-color-adjust: exact;
}



.admin-fontsize-6 {
    font-size: 6pt;
}


.admin-fontsize-8 {
    font-size: 8pt;
}

.admin-fontsize-10 {
    font-size: 10pt;
}

.admin-fontsize-12 {
    font-size: 12pt;
}

.admin-fontsize-14 {
    font-size: 14pt;
}





.admin-title {

    font-size: 14pt;
    font-weight: bold;

}


.admin-subtitle {

    font-size: 12pt;
    font-weight: bold;

}


.admin-default-layout {

    display: flex;
    flex-direction: column;
    gap: 5mm;

}



.admin-box {

    border-style: solid;
    border-width: 1pt;
    border-color: lightgrey;

    padding: 5mm;
    margin: 5mm;
}


.page-break {
    page-break-before: always;
}


.admin-table {

    width: 100%;
    border-collapse: collapse;

}


.admin-table thead th {

    background-color: lightgrey;
    padding: 2mm;
    border-style: solid;
    border-color: darkgray;
    border-width: 1pt;
    text-align: left;
    font-weight: bold;

}


.admin-table tbody td {

    padding: 2mm;
    border-style: solid;
    border-color: darkgray;
    border-width: 1pt;

}



