.admin-tabs-button-container {

    display: flex;
    flex-direction: row;
    gap: 1px;  /* var(--default-space);*/

    margin-bottom: var(--default-space);


}



.admin-tabs-button {

    border: none;
    cursor: pointer;
    padding: var(--default-space);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    text-decoration: none;

}



/*.admin-tabs-button:hover {

    color: var(--color-light);
    background-color: var(--color-dark);

}*/


.admin-tabs-button-inactive {

    color: var(--color-dark);
    background-color: var(--color-light);
    font-weight: bold;

}


.admin-tabs-button-active {

    color: var(--color-light);
    background-color: var(--color-dark);
    font-weight: bold;

    /*font-size: 2rem;*/

}






.admin-tabs-container {

    display: none;
    background-color: var(--color-light);

}