.admin-dialog {
    /*background-color: var(--color-light);*/

    margin: var(--default-space);
    /*margin-left: var(--default-space);
    margin-right: var(--default-space);*/

    border-width: 1px;
    border-color: var(--color-dark);
}


.admin-dialog::backdrop {

    background-color: lightgrey;
    opacity: 0.9;

}



.admin-dialog-title {

    background-color: var(--color-dark);
    color: var(--color-light);
    padding: var(--default-space);
    font-weight: bold;
    display: flex;
    justify-content: space-between;

}


.admin-dialog-content {

    padding: var(--default-space);

}

.admin-dialog-button {

    padding: var(--default-space);

}




@media screen and (max-width: 1000px) {

    .admin-dialog {

        position: fixed;
        width: 100%;
        /*height: 100%;*/
        left: 0;
        top: var(--navbar-heigth);  /* 0;*/

    }


}


@media screen and (min-width: 1000px) {




}


