/*.video {

    /*max-width: 100%;*/

  /*  width: 100%;
    height: 900px;

}*/

.admin-embedded-video {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
}

.admin-embedded-video iframe,
.admin-embedded-video object,
.admin-embedded-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
