.admin-bullet-list {

    list-style: circle;
    padding-left: var(--default-space);

}


.admin-reset-list {

    list-style: none;
    padding: 0;
    margin: 0;

}










.admin-listgroup {




}



.admin-listgroup-item {

    display: block;

    border-bottom: 1px solid #ddd;

    background-color: lightgrey;
    text-decoration: none;
    color: black;
    padding: var(--default-space);

}


.admin-listgroup-item:hover {

    background-color: var(--color-dark);

}
