.autocomplete-word-list {

    position: absolute;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-dark);
    border-radius: var(--border-radius);
    /*border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);*/
    background-color: white;
    z-index: 999;
    overflow: hidden;

    /*
    wordList.position = PositionStyle.ABSOLUTE;
    wordList.visible = false;
    wordList.widthPercent = 100;
    wordList.border = "1px solid #d4d4d4";
    wordList.backgroundColor = ColorStyle.WHITE;
    wordList.zIndex=999;
    */


}