.admin-item-container {

    display: flex;
    flex-direction: column;
    gap: var(--default-space);
    /*padding: var(--default-space);*/

    border-bottom: dotted;  /* solid;*/
    border-bottom-width: 1px;
    border-bottom-color: var(--color-dark);

    padding-top: var(--default-space);
    padding-bottom: var(--default-space);

    /*padding: var(--default-space);*/
    /*text-decoration: none;

    /*cursor: none;*/

}


.admin-item-container-hyperlink {

    text-decoration: none;

}


/*
.admin-hover:active {

    color: white;
    background-color: white;

}*/


.admin-hover:hover {

    background-color: var(--color-light);

}





.admin-item-hyperlink {

    color: var(--color-dark);
    /*text-decoration: none;*/

    text-decoration: none;

    display: flex;
    flex-direction: column;

    gap: var(--default-space);
    /*padding: var(--default-space);*/

    border-bottom: dotted;  /* solid;*/
    border-bottom-width: 1px;
    border-bottom-color: var(--color-dark);

}




.admin-item-title {

    color: var(--color-dark);
    font-weight: bold;
    font-size: 1.2rem;

    text-decoration: none;

}


.admin-item-subtitle {

    color: var(--color-dark);
    font-size: 1.1rem;

}


.admin-item-text {
    color: var(--color-font);
    text-decoration: none;

}


.admin-item-small {

    color: var(--color-dark);
    font-size: 0.7rem;

}


.admin-item-large {

    font-size: 2rem;

}