.admin-navbar-dropdown-link {

    white-space: nowrap;

}


.admin-navbar-dropdown-show {

    display: block;

}


.admin-navbar-submenu-content {

    display: none;
    overflow: hidden;
    background-color: var(--color-light);
    border-style: var(--border-style);
    border-width: var(--border-width);
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    z-index: 999;

}


.admin-navbar-submenu-link {

    display: block;
    padding: var(--default-space);
    overflow: hidden;

    color: var(--color-dark);
    text-decoration: none;

}


.admin-navbar-submenu-link:hover {

    background-color: var(--color-dark);
    color: var(--color-light);

}


@media screen and (max-width: 1000px) {

    .admin-navbar-link {
        display: block;
    }

    .admin-navbar-submenu-content {
        position: relative;
        /*background-color: var(--color-dark);*/  /*white;*/
    }

}



@media screen and (min-width: 1000px) {

    .admin-navbar-submenu-content {
        position: absolute;
    }


}
