@import "navbar_submenu.css";


.admin-navbar {

    background-color:var(--color-light);
    display: flex;
    /*padding: var(--default-space);*/

    padding-left: var(--default-space);
    padding-right: var(--default-space);

    justify-content: space-between;
    overflow: hidden;
    height: var(--navbar-heigth);

}


.admin-navbar-left {
    display: flex;
}



.admin-navbar-menu {

    display: flex;

}


/* admin-navbar-hyperlink*/
.admin-navbar-link {

    color: var(--color-dark);
    text-decoration: none;

}


.admin-navbar-link-active {

    background-color: var(--color-light);
    color: var(--color-dark);

}


.admin-navbar-logo-hyperlink {

    display: flex;
    justify-content: center;
    align-items: center;


}

.admin-navbar-logo {

    padding-right: var(--default-space);

}


.admin-navbar-brand {

    display: flex;
    align-items: center;
    text-decoration: none;
    /*padding-right: var(--default-space);*/
    margin-left: var(--default-space);

}


.admin-navbar-brand span {

    color: var(--color-dark);
    font-weight: bold;

}




@media screen and (max-width: 1000px) {

    .admin-navbar {
        /*justify-content: space-between;*/

    }


    .admin-navbar-brand {

        font-size: 1rem;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: var(--default-space);

    }


    .admin-navbar-hamburger {

        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-dark);
        font-size: 1.5em;
        border-style: solid;
        border-width: 1px;
        border-color: var(--color-light);
        border-radius: var(--border-radius);

    }


    .admin-navbar-hamburger:hover {

        cursor: pointer;

    }


    .admin-navbar-close {

        display:inline;
        cursor: pointer;
        font-size: 3em;
        color: var(--color-dark);
        position: absolute;
        top: 5px;
        right: 20px;

    }


    .admin-navbar-menu {

        flex-direction: column;
        align-items: normal;
        border-style: var(--border-style);
        border-width: var(--border-width);
        border-color: var(--border-color);
        border-radius: var(--border-radius);
        right: 0;
        width: 0;
        overflow: hidden;
        background-color: var(--color-light);
        position: absolute;
        transition-property: width;
        transition-duration: 0.1s;
        z-index: 999;


    }

    .admin-navbar-link {

        padding: var(--default-space);

    }

}


@media screen and (min-width: 1000px) {

    .admin-navbar {
        justify-content: flex-start;
        display: flex;
    }


    .admin-navbar-brand {

        font-size: 1.5rem;
        /*padding: var(--default-space);*/
        /*padding-right: 50px;*/

    }


    .admin-navbar-menu {

        gap: 50px;
        padding-left: 50px;
        align-items: center;

    }


    .admin-navbar-link {
        display: block;
    }


    .admin-navbar-link:hover {

        background-color: var(--color-light);
        color: var(--color-dark);

    }


    .admin-navbar-hamburger {
        display: none;
    }


    .admin-navbar-close {
        display: none;

    }


}


.admin-navbar-fixed {

    position: sticky;

}





