@import "select.css";
@import "textbox.css";
@import "input.css";
@import "textarea.css";
@import "file_upload.css";



.admin-form {

    display: flex;
    flex-direction: column;
    gap: var(--default-space);

    /*background-color: lightgrey;  /* var(--color-light);*/
    /*padding: var(--default-space);*/

    /*border-style: solid;
    border-color: var(--color-dark);
    border-width: 1px;
    border-radius: var(--border-radius);*/

}



.admin-form-error {

    font-weight: bold;
    color: var(--color-error);

}




/*input[type=text][type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}*/



/*
.error {

    font-weight: bold;
    color: red;

}*/


/*
button {

    width: 300px;
    background-color: whitesmoke;
    cursor: pointer;
    border: none;

}*/
