.admin-select {

    padding: var(--default-input-space);
    display: block;
    width: 100%;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    font-family: var(--default-font);
    font-size: var(--default-font-size);

}


.admin-select:focus {

    box-shadow: var(--box-shadow);

}


option {

    /*background-color: #0a47a9;

    /*padding: var(--default-input-space);
    margin: var(--default-input-space);
    /*font-size: 1.5rem;*/

}
