.admin-textbox {

    /*width: 200px;*/
    /*display: flex;
    /*flex-direction: row;*/
    /*flex-direction: column;
    /*gap: 5px;*/

}

/*
.admin-textbox-label {

display: block;

}*/



.admin-textbox label {

    display: block;
    margin-bottom: 5px;

}

.admin-textbox-color {

    height: 50px;
    padding: 0;
    margin: 0;

}

.admin-icon-textbox {
    position: relative;
}

.admin-icon-textbox input {
    padding-left: 22px;
}

.admin-icon-textbox i {
    position: absolute;
    color: lightgrey;
    left: 7px;
    top: 19px;
}
