@import "space.css";


.admin-block {

    display: block;

}


.admin-main-content {

    margin: var(--default-space);
    padding: var(--default-space);

    /*background-color: var(--color-light);*/

}


.admin-width-500 {
    width: 500px;
}


.admin-search-form {

    display: flex;
    flex-direction: row;
    gap: 2em;
    margin-bottom: var(--default-space);

}


.admin-flex-row {

    display: flex;
    flex-direction: row;
    gap: var(--default-space);

}


.admin-footer {

    /*position: sticky;
    bottom: 0;*/

    background-color: var(--color-light);
    color: var(--color-dark);
    padding: var(--default-space);

}


.admin-layout-grid {


}

.admin-default-layout {

    display: flex;
    flex-direction: column;
    gap: var(--default-space);

}


.admin-two-column-grid-layout {

    display: grid;
    grid-gap: var(--default-space);

}


.admin-row-flexbox-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--default-space);
    /*padding: var(--default-space);*/

}


.admin-column-flexbox-layout {
    display: flex;
    flex-direction: column;
    gap: var(--default-space);
    /*padding: var(--default-space);*/

}


.admin-row-flex-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--default-space);
    /*padding: var(--default-space);*/

}


.admin-column-flex-layout {
    display: flex;
    flex-direction: column;
    gap: var(--default-space);
    /*padding: var(--default-space);*/

}


@media screen and (max-width: 1000px) {

}


@media screen and (min-width: 1000px) {

    .admin-two-column-grid-layout {
        grid-template-columns: 1fr 1fr;
    }


    .admin-fix-center-layout {

        position: fixed;

        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }


}


/*.admin-flexbox-layout {
    display: flex;
    flex-direction: column;
    gap: var(--default-space);
    padding: var(--default-space);

}*/


/*.admin-login-layout {

    /*display: flex;
    justify-content: center;
    align-items: center;*/

/* position: fixed;

 height: 100%;
 width: 100%;


 display: flex;
 justify-content: center;
 align-items: center;
 /*height: 200px;
 border: 3px solid green;*/

/* background-color: #0a47a9;


}*/


/*
.admin-login-form {

    width: 400px;

    margin-left: auto;
    margin-right: auto;

    /*display: flex;
    align-items: center;
    justify-content: center;*/

/*   background-color: var(--color-light);
   border-radius: var(--border-radius);
   padding: var(--default-space);

}*/


.admin-hr {

    width: 100%;
    height: 2px;
    background-color: var(--color-dark);

}
