.admin-carousel {

    position: relative;
    width: 100%;
    /*height: 700px;*/

}


.admin-carousel-item-list {

    position: absolute;
    top: 30px;

}


.admin-carousel-item {

    /*display: none;*/
    color: black;

}


.admin-carousel-image {

    display: block;
    margin-left: auto;
    margin-right: auto;

}



.slideshow-current {

}


.admin-carousel-dot {

    position: absolute;
    top: var(--default-space);
    left: 50%;

}


.admin-carousel-icon {

    position: absolute;
    top: var(--default-space);
    font-size: var(--default-font-size);
    color: var(--color-dark);
    cursor: pointer;

}

.admin-carousel-icon-inactive {

    color: var(--color-light);
    cursor: default;

}


.admin-carousel-icon-previous {

    left: var(--default-space);

}


.admin-carousel-icon-next {

    right: var(--default-space);

}


.admin-carousel-dot-item {

    cursor: pointer;
    height: var(--default-font-size);
    width: var(--default-font-size);
    margin: 0 2px;
    background-color: var(--color-light);
    border-radius: 50%;
    display: inline-block;

}


.admin-carousel-dot-active {

    background-color: var(--color-dark);

}

