.admin-pagination {

    display: flex;
    gap: var(--default-space);

}


.admin-pagination-link {

    padding: var(--default-space);
    color: var(--color-light);
    background-color: var(--color-dark);
    text-decoration: none;
    border-radius: var(--border-radius);

}


.admin-pagination-link:hover {

    /*padding: 20px;*/
    color: var(--color-dark);
    background-color: var(--color-light);

}



.admin-pagination-active {

    font-weight: bold;
    padding: var(--default-space);
    text-decoration: none;
    color: var(--color-dark);
    background-color: var(--color-light);
    border-radius: var(--border-radius);

}


.admin-pagination-disabled {

    cursor: not-allowed;
    color: var(--color-dark);
    background-color: var(--color-light);

}


.admin-pagination-disabled:hover {

}


@media screen and (max-width: 1000px) {

    .admin-pagination-item {
        display: none;
    }

}


@media screen and (min-width: 1000px) {

    .admin-pagination-item {
        display: inline;
    }

}






