.admin-title {

    color: var(--color-dark);
    font-size: 150%; /* 1.5rem;*/
    margin-bottom: var(--default-space);
    font-weight: bold;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--color-dark);

}


.admin-subtitle {

    font-size: 120%;
    color: var(--color-dark);
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--color-dark);
    margin-bottom: var(--default-space);

}



